.customButton {
    position: relative;
    background: #E7CD9C;
    border:none;
    outline: none;
}

.customButton:not(:disabled) {
    cursor: pointer;
}

.customButton > img {
    width: 100%;
    height: 100%;
}