.deleteButton {
    position: relative;
    background: none;
    border:none;
    outline: none;
    cursor: pointer;
    min-width: 25px;
    min-height: 25px;
}

.deleteButton > img {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width: 100%;
    height: 100%;
}