.customPasswordInputContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: fit-content;
    width: fit-content;
}

.customPasswordInputContainer > button {
    position: absolute;
    right:-35px;
    background:none;
    border:none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.customPasswordInputContainer > button > img {
    width: 25px;
    height: 25px;
}