.fullPostPageCenterContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullPostPageCommentsContainer {
    position: relative;
    width: 100%;
    border-top:2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.fullPostPageCommentsContainer > h1 {
    margin-top: 20px;
}

.fullPostPageCommentsContainer > .newCommentPan {
    margin-top: 10vh;
}