.spinnerLoaderContainer {
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:rgba(251, 255, 0, .3);
    z-index: 999;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.spinnerLoader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}